.container {
    .row {
        .col-6 {
            height: 600px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover
            }
            .logo {
                height: 100px;
                width: 100px;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain
                }
            }
        }
    }
}